body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.b-container {
	width: 1000px;
	margin: 0 auto !important;
}

.b-menu {
	padding: 15px 0;
}

.b-footer {
	padding: 15px 0;
}

.-success {
	color: #5bbd72 !important;
}

.-error {
	color: #d95c5c!important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.b-loader {
	text-align: center;
}

.b-grid {
	margin: 10px 0;
	height: 500px;
}
