<!--Layout start-->
<% layout('../layouts/default') %>
<!--Layout end-->

<!--Stylesheet start-->
<% stylesheet('/stylesheets/style.css') -%>
<% stylesheet('/vendor/semantic-ui/dist/semantic.min.css') -%>
<% stylesheet('http://www.trirand.com/blog/jqgrid/themes/ui.jqgrid.css') -%>
<% stylesheet('http://trirand.com/blog/jqgrid/themes/redmond/jquery-ui-custom.css') -%>
<!--Stylesheet end-->

<!--Script start-->
<% script('/javascripts/libs/faker/faker.js') -%>
<% script('/vendor/jquery/dist/jquery.min.js') -%>
<% script('https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js') -%>
<% script('http://www.trirand.com/blog/jqgrid/js/i18n/grid.locale-en.js') -%>
<% script('http://www.trirand.com/blog/jqgrid/js/jquery.jqGrid.js') -%>
<% script('/javascripts/libs/grids/jqGrid.js') -%>
<!--Script end-->

<!--Block start-->
<% block('title', 'gd-seed-app') %>
<!--Block end-->

<!--Markup start-->
<main class="b-container">
    <h1><%= title %></h1>
    <table id="jq-grid"></table>
    <div id="p-jq-grid"></div>
</main>
<footer class="b-container b-footer">
    <div class="ui divided ordered list">
        <div class="item -success">Scrolling</div>
        <div class="item">Ability to remember scroll position and programmatically go to specific scroll position
            <span class="-success">(via API and custom methods)</span></div>
        <div class="item -success">Virtual Scrolling</div>
        <div class="item -success">Resizable columns</div>
        <div class="item -success">Header, content and footer templates (ability to display complex content)</div>
        <div class="item -success">Text wrapping and variable row height (via loadComplete)</div>
        <div class="item">Configure options, data source and columns in MVVM style (via bindings)
            <span class="-success">(could be integrated)</span></div>
        <div class="item -success">Show/Hide column programmatically</div>
        <div class="item -success">Grouping (via API)
            <span class="-error">(dont work with virtual scrolling, but as for dirty hack we can use auto pagination on bottom reached event - listening for scroll event via API methods)</span>
        </div>
        <div class="item -success">Sorting</div>
    </div>
    <!--<div class="ui divided list">-->
    <!--<div class="item"><a class="reload-grid" href="#">Try this out..</a></div>-->
    <!--</div>-->
</footer>
<!--Markup end-->
