<!--Layout start-->
<% layout('../layouts/default') %>
<!--Layout end-->

<!--Stylesheet start-->
<% stylesheet('/stylesheets/style.css') -%>
<% stylesheet('http://www.jqwidgets.com/jquery-widgets-documentation/jqwidgets/styles/jqx.base.css') -%>
<% stylesheet('/vendor/semantic-ui/dist/semantic.min.css') -%>
<!--Stylesheet end-->

<!--Script start-->
<% script('/javascripts/libs/faker/faker.js') -%>
<% script('/vendor/jquery/dist/jquery.min.js') -%>
<% script('/vendor/angular/angular.min.js') -%>
<% script('/vendor/jqwidgets/jqwidgets/jqxcore.js') -%>
<% script('/vendor/jqwidgets/jqwidgets/jqxdata.js') -%>
<% script('/vendor/jqwidgets/jqwidgets/jqxbuttons.js') -%>
<% script('/vendor/jqwidgets/jqwidgets/jqxangular.js') -%>
<% script('/vendor/jqwidgets/jqwidgets/jqxscrollbar.js') -%>
<% script('/vendor/jqwidgets/jqwidgets/jqxmenu.js') -%>
<% script('/vendor/jqwidgets/jqwidgets/jqxgrid.js') -%>
<% script('/vendor/jqwidgets/jqwidgets/jqxgrid.selection.js') -%>
<% script('/vendor/jqwidgets/jqwidgets/jqxgrid.sort.js') -%>
<% script('/vendor/jqwidgets/jqwidgets/jqxgrid.grouping.js') -%>
<% script('/vendor/jqwidgets/jqwidgets/jqxgrid.columnsresize.js') -%>
<% script('/javascripts/app/models/ModelsModule.js') -%>
<% script('/javascripts/app/models/place/Place.js') -%>
<% script('/javascripts/app/models/account/Account.js') -%>
<% script('/javascripts/app/controllers/jqWidget/ControllersModule.js') -%>
<% script('/javascripts/app/controllers/jqWidget/jq-widget/JQWidgetController.js') -%>
<% script('/javascripts/app/jqWidgetApp.js') -%>
<!--Script end-->

<!--Block start-->
<% block('title', 'gd-seed-app') %>
<!--Block end-->

<!--Markup start-->
<main class="b-container" ng-app="jqWidgetApp" ng-cloak>
    <h1><%= title %></h1>
    <div ng-controller="JQWidgetController">
        <div class="b-loader" ng-if="!data.loaded">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div ng-if="data.loaded">
            <jqx-grid jqx-settings="config.settings"></jqx-grid>
        </div>
    </div>
</main>
<footer class="b-container b-footer">
    <div class="ui divided ordered list">
        <div class="item -success">Scrolling</div>
        <div class="item">Ability to remember scroll position and programmatically go to specific scroll position</div>
        <div class="item -success">Virtual Scrolling <span class="-error">(has no ability to use it with grouping without paging - we can do it the dirty way - loading more items on bottom reached event)</span></div>
        <div class="item -success">Resizable columns</div>
        <div class="item">Header, content and footer templates (ability to display complex content)</div>
        <div class="item"><span class="-success">Text wrapping</span> and <span class="-error">variable row height</span> (can be implemented, but it can break some abilities, the solution is to use css styles the way table works: table/table-cell/table-row)</div>
        <div class="item -success">Configure options, data source and columns in MVVM style (via bindings) - includes AngularJS wrapper</div>
        <div class="item -success">Show/Hide column programmatically</div>
        <div class="item -success">Grouping</div>
        <div class="item -success">Sorting</div>
    </div>
</footer>
<!--Markup end-->
