<!--Layout start-->
<% layout('../layouts/default') %>
<!--Layout end-->

<!--Stylesheet start-->
<% stylesheet('/stylesheets/style.css') -%>
<% stylesheet('http://cdn.kendostatic.com/2014.3.1316/styles/kendo.common-material.min.css') -%>
<% stylesheet('http://cdn.kendostatic.com/2014.3.1316/styles/kendo.material.min.css') -%>
<% stylesheet('/vendor/semantic-ui/dist/semantic.min.css') -%>
<!--Stylesheet end-->

<!--Script start-->
<% script('/javascripts/libs/faker/faker.js') -%>
<% script('/vendor/jquery/dist/jquery.min.js') -%>
<% script('http://cdn.kendostatic.com/2014.3.1316/js/kendo.all.min.js') -%>
<% script('/javascripts/libs/grids/kendo.js') -%>
<!--Script end-->

<!--Block start-->
<% block('title', 'gd-seed-app') %>
<!--Block end-->

<!--Markup start-->
<main class="b-container">
    <h1><%= title %></h1>
    <div id="grid"></div>
</main>
<!--Markup end-->
