<!--Layout start-->
<% layout('../layouts/default') %>
<!--Layout end-->

<!--Stylesheet start-->
<% stylesheet('/stylesheets/style.css') -%>
<% stylesheet('/vendor/ng-grid/ng-grid.min.css') -%>
<% stylesheet('/vendor/semantic-ui/dist/semantic.min.css') -%>
<!--Stylesheet end-->

<!--Script start-->
<% script('/javascripts/libs/faker/faker.js') -%>
<% script('/vendor/jquery/dist/jquery.min.js') -%>
<% script('/vendor/angular/angular.min.js') -%>
<% script('/vendor/ng-grid/ng-grid-2.0.14.min.js') -%>
<% script('/javascripts/app/models/ModelsModule.js') -%>
<% script('/javascripts/app/models/account/Account.js') -%>
<% script('/javascripts/app/controllers/ControllersModule.js') -%>
<% script('/javascripts/app/controllers/ng-grid/NGGridController.js') -%>
<% script('/javascripts/app/app.js') -%>
<!--Script end-->

<!--Block start-->
<% block('title', 'gd-seed-app') %>
<!--Block end-->

<!--Markup start-->
<main class="b-container" ng-cloak ng-app="gridApp">
    <h1><%= title %></h1>
    <div ng-controller="NGGridController">
        <div class="b-loader" ng-if="!config.dataLoaded">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div class="b-grid" ng-if="config.dataLoaded" ng-grid="data.gridOptions"></div>
    </div>
</main>
<footer class="b-container b-footer">
    <div class="ui divided ordered list">
        <div class="item -success">Scrolling</div>
        <div class="item">Ability to remember scroll position and programmatically go to specific scroll position <span class="-success">(via API - gridOptions.ngGrid.$viewport.scrollTop & listen for scroll event as well)</span></div>
        <div class="item -success">Virtual Scrolling <span class="-error">can break page if use it with grouping and loading new items on scroll</span></div>
        <div class="item -success">Resizable columns</div>
        <div class="item -success">Header, content and footer templates (ability to display complex content)</div>
        <div class="item"><span class="-success">Text wrapping</span> and <span class="-error">variable row height (only if apply table/table-row/table-cell styles - but it can break other templates)</span></div>
        <div class="item -success">Configure options, data source and columns in MVVM style (via bindings)</div>
        <div class="item -success">Show/Hide column programmatically (via gridOptions.$gridScope.columns[i].toggleVisible)</div>
        <div class="item -success">Grouping (d&d)</div>
        <div class="item -success">Sorting</div>
    </div>
    <!--<div class="ui divided list">-->
    <!--<div class="item"><a class="reload-grid" href="#">Try this out..</a></div>-->
    <!--</div>-->
</footer>
<!--Markup end-->
